/* Estilos GENERAL {footer} 1 */

footer {
    background: #252525;
}

footer ul li {
    color: #000;
}

footer a {
    color: #fff; 
}

footer .numeros-telefonicos a {
    color: #fff!important;
}

footer h3 span {
    color: #00a2ff!important;
}

footer span {
    display: initial!important;
}

.proveedorCV li a, .correosCV ul li a {
    color: var(--color-principal)!important;
}

.header-card {
    justify-content: center;
}

.contenedor-titulo-vacante, .tituloCV  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-titulo-vacante li {
    margin-bottom: 0px!important;
}

.contenedor-titulo-vacante, .contenedor-titulo-vacante .list-group-item.active, .tituloVacantes i,
.tituloCV, .tituloCV h4 {
    background-color: var(--color-principal);
    border-color: var(--color-principal);
    color: #fff!important;
}

.tituloCV h4 {
    font-size: 1.4rem!important;
    font-weight: bold!important;
}

.tituloVacantes {
    font-weight: bold;
    font-size: 23px!important;
    text-align: center;
}

.contenidoFooter div {
    background: var(--color-principal);
    color: #fff;
}

.contenidoFooter .titulo-principal {
    color: #fff;
}

.contenidoFooter .titulo-principal span {
    color: var(--color-tercero)!important;
}

.titulo-footer-card {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.card-footer {
    width: 100%;
    text-align: center;
    background-color: rgb(25 25 25 / 82%)!important;
    color: #fff;
    padding: 10px;
    bottom: 0;
}

.contenedor-img-ingenieria-civil {
    width: 100%;
    height: 120px;
    background-color: rgba(144, 144, 144, 0.6);
}

.contenedor-img-ingenieria-civil img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contenedor-vacantes ul li:nth-child(1) {
    padding: 10px;
    background: var(--color-principal);
    color: #fff;
    text-align: center;
}

.contenedor-vacantes ul .header-card {
    color: #fff;
}

.contenedor-vacantes ul li, .contenedor-vacantes-principal ul li {
    font-size: 14px;
    padding-right: 0px!important;
    font-weight: 800;
}

.titulo-si-proveedor {
    border-bottom: 5px solid var(--color-principal);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.footer-informacion h3, .horarios-atencion *, .numeros-telefonicos * {
    font-weight: bold!important;
}

.numeros-telefonicos {
    font-weight: bold!important;
    font-size: 15px!important;
}

.numeros-telefonicos li {
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}

.redes-sociales {
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}

.redes-sociales * > *:hover {
    color: #fff!important;
}

.footer-informacion h3 span {
    color: #fff;
}

.links.paginasWeb li {
    color: var(--color-tercero);
    padding: 10px;
}

.links.paginasWeb li a {
    color: #fff;
    margin: 0px 20px;
    font-weight: normal;
}

.contenedor-servicios {
    background-color: #e3e3e3;
}

.contenedor-servicios div p {
    padding: 15px;
    background-color: #f7941e;
    color: #fff;
    cursor: pointer;
}

.contenedor-servicios div p:nth-child(odd):hover {
    transform: rotate(5deg);
}

.contenedor-servicios div p:nth-child(even):hover {
    transform: rotate(-5deg);
}

.contenedor-personal h3 {
    font-size: 1.8rem!important;
}

footer .list-group-item:last-child, footer .list-group-item:first-child {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

/* Estilos GENERAL {footer} 0 */